:root {
	--ev: rgb(255, 162, 162);
	--kv: white;
	--lunch: rgb(196, 196, 196);
	--ma: rgb(255, 24, 24);
	--sv: rgb(255, 212, 71);
	--en: rgb(30, 146, 255);
	--so: rgb(229, 30, 255);
	--no: rgb(43, 180, 16);
	--lab: rgb(23, 138, 30);
	--sltxt: rgb(201, 75, 134);
	--sltm: rgb(146, 40, 75);
	--tk: rgb(0, 69, 173);
	--hkk: rgb(38, 228, 0);
	--mu: rgb(37, 129, 0);
	--bl: rgb(122, 184, 255);
	--lang: rgb(240, 255, 35);
	--idh: rgb(156, 0, 0);
}

.Subject {
	color: var(--textColor) !important;
	border: 1px inset var(--backgroundColor);
}

.EV {
	border-bottom: 4px inset var(--ev);
	color: white;
}

.KV {
	border-bottom: 4px inset var(--kv);
	color: white;
}

.Lunch {
	border-bottom: 4px inset var(--lunch);
	color: black;
}

.MA {
	border-bottom: 4px inset var(--ma);
	color: black;
}

.SV {
	border-bottom: 4px inset var(--sv);
	color: white;
}

.EN {
	border-bottom: 4px inset var(--en);
	color: white;
}

.SO {
	border-bottom: 4px inset var(--so);
	color: white;
}

.NO {
	border-bottom: 4px inset var(--no);
	color: black;
}

.NO.Lab {
	border-bottom: 4px inset var(--lab);
	color: black;
}

.SLTXT {
	border-bottom: 4px inset var(--sltxt);
	color: black;
}

.SLTM {
	border-bottom: 4px inset var(--sltm);
	color: black;
}

.TK {
	border-bottom: 4px inset var(--tk);
	color: black;
}

.HKK {
	border-bottom: 4px inset var(--hkk);
	color: black;
}

.MU {
	border-bottom: 4px inset var(--mu);
	color: black;
}

.BL {
	border-bottom: 4px inset var(--bl);
	color: black;
}

.LANG {
	border-bottom: 4px inset var(--lang);
	color: black;
}

.IDH {
	border-bottom: 4px inset var(--idh);
	color: black;
}
