@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');

:root {
	--backgroundColor: #282c34;
	--linkColor: #61dafb;
	--textColor: #eeeeee;
	--navSize: 64px;
	--navBackgroundColor: #1f2229;
	--navBorder: 1px solid #333842;
	--hoverFilter: brightness(1.2);
	--navShadow: 0px 0px 10px 5px #000000aa;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: 'Open Sans';
	transition: background-color 100ms linear;
	transition: color 100ms linear;
	text-align: center;
	margin: 0;
}

a {
	color: var(--linkColor);
	text-decoration: none;
	transition: filter 250ms ease;
}

a:hover {
	filter: var(--hoverFilter);
}

/* NAVBAR */
.Navbar {
	max-width: auto;
	height: var(--navSize);
	background-color: var(--navBackgroundColor);
	display: flex;
	justify-content: center;
	border-bottom: var(--navBorder);
	box-shadow: var(--navShadow);
}

.NavbarList {
	max-width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.NavbarItem {
	width: auto;
	align-items: center;
	justify-content: center;
	background-color: var(--navBackgroundColor);
	padding: calc(var(--navSize) * 0.5 - 0.7em);
	transition: filter 250ms;
	font-weight: normal;
	color: var(--textColor);
	text-decoration: none;
	font-size: 18px;
}

.NavbarItem:hover {
	filter: var(--hoverFilter);
}
