@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');

:root {
	--backgroundColor: #282c34;
	--linkColor: #61dafb;
	--textColor: #eeeeee;
	--navSize: 64px;
	--navBackgroundColor: #1f2229;
	--navBorder: 1px solid #333842;
	--hoverFilter: brightness(1.2);
	--navShadow: 0px 0px 10px 5px #000000aa;
	--enabledColor: #316427;
	--disabledColor: #ad4040;
	--scrollbarColor: #ff00ff8f;
	--homework: #00ccff8f;
	--test: #ff00ff8f;
	--assignment: #5cd10d8f;
	--color: #000;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: 'Open Sans';
	transition: background-color 100ms linear;
	transition: color 100ms linear;
	text-align: center;
	margin: 0;
}

a {
	color: var(--linkColor);
	text-decoration: none;
	transition: filter 250ms ease;
}

a:hover {
	filter: var(--hoverFilter);
}

/* NAVBAR */
.Navbar {
	max-width: auto;
	height: var(--navSize);
	background-color: var(--navBackgroundColor);
	display: flex;
	justify-content: center;
	border-bottom: var(--navBorder);
	box-shadow: var(--navShadow);
	position: relative;
	z-index: 10000;
}

.NavbarList {
	max-width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.NavbarItem {
	width: auto;
	align-items: center;
	justify-content: center;
	background-color: var(--navBackgroundColor);
	padding: calc(var(--navSize) * 0.5 - 0.7em) 0.5em
		calc(var(--navSize) * 0.5 - 0.7em) 0.3em;
	transition: filter 250ms;
	font-weight: normal;
	color: var(--textColor);
	text-decoration: none;
	font-size: 16px;
}

.NavbarItem:hover {
	filter: var(--hoverFilter);
}

.Icon {
	padding-left: 5px;
	padding-right: 5px;
	transform: translateY(2px);
}

svg.dark {
	color: var(--enabledColor);
	height: calc(var(--navSize) * 0.8);
	width: calc(var(--navSize) * 0.8);
	transform: translateY(calc(var(--navSize) * 0.1));
	right: calc(var(--navSize) * 0.25);
	position: absolute;
}

svg.light {
	color: var(--disabledColor);
	height: calc(var(--navSize) * 0.8);
	width: calc(var(--navSize) * 0.8);
	transform: translateY(calc(var(--navSize) * 0.1)) rotate(180deg);
	right: calc(var(--navSize) * 0.25);
	position: absolute;
}

#food {
	padding: 0;
	margin: 0;
	position: absolute;
	text-align: left;
	left: calc(var(--navSize) * 0.5 - 1.5em);
	top: calc(var(--navSize) * 0.5 - 1.5em);
	font-size: calc(var(--navSize) * 0.25 - 3px);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--navBackgroundColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarColor);
}
