.container {
	display: flex;
	flex-flow: row nowrap;
	width: auto;
	margin: 0.5vmax;
	justify-content: space-between;
}

.div {
	white-space: pre-line;
	display: flexbox;
	float: left;
	padding: 0.5vmax;
	width: calc(100% / 3);
}

.item {
	flex-grow: auto;
	text-align: left;
	height: auto;
	margin-bottom: 1vmax;
	padding: 1px 1em;
	background-color: var(--navBackgroundColor);
	box-shadow: 2px 2px 10px 0px #0006;
	font-size: 14px;
}

.item h1 {
	font-family: 'Courier New', Courier, monospace;
	margin-top: 1.2em;
	font-size: 24px;
}

.item a {
	background: linear-gradient(
		to bottom,
		var(--linkColor) 0%,
		var(--linkColor) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 0.1em;
	text-decoration: none;
	transition: background-size 0.2s;
}

.item a:hover {
	background-size: 4px 2em;
	color: var(--color);
}

.header {
	margin: 0;
	margin-top: 0em;
	font-size: 12px;
	position: absolute;
	width: calc(100% / 3 - 1.5vmax - 2em);
}

.subject {
	float: left;
}

.date {
	float: right;
}

.homework {
	border-bottom: 8px solid var(--homework);
}

.test {
	border-bottom: 8px solid var(--test);
}

.assignment {
	border-bottom: 8px solid var(--assignment);
}

.special {
  border-bottom: 8px solid var(--special);
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

table,
th,
td {
	border: 1px solid var(--textColor);
}

td,
th {
	padding: 4px;
}

.blue {
  box-shadow: 2px 2px 10px 0px #2286;
}

.red {
  box-shadow: 2px 2px 10px 0px #8226;
}

.green {
  box-shadow: 2px 2px 10px 0px #2826;
}