:root {
	--height: calc(100vh - var(--navSize) - 1px);
}

.container {
	display: flex;
	padding: 0;
	margin: 0;
	height: var(--height);
}

#Note {
	resize: none;
	background-color: var(--backgroundColor);
	margin: 0;
	border: 0 solid #000;
	color: var(--textColor);
	font-size: 20px;
	font-family: 'Open Sans';
	padding: 8px;
	flex-grow: 4;
	flex-basis: 0;
}

#Note:focus {
	outline: 0 solid #000;
}

#List {
	background-color: var(--navBackgroundColor);
	margin: 0;
	float: left;
	flex-grow: 1;
	flex-basis: 0;
}

.ListItem {
	list-style-type: none;
	text-align: left;
	padding: 8px 0 8px 8px;
	cursor: pointer;
	transition: all 0.25s ease;
	color: #bcc5d1;
	font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
	font-weight: 700;
	margin: 0;
}

.ListItem:hover,
.ListItemActive {
	filter: brightness(1.6);
}
