.Schedule {
	display: flex;
	flex-direction: row;
  margin: 0;
	padding: 80px;
}

.Day {
  width: 20%;
}

.Subject {
	display: flex;
	box-sizing: border-box;
	border: 1px inset black;
  position: absolute;
	padding: 0;
}

.Subject span {
	margin: auto;
}

.ScheduleChanger {
	display: inline;
	background-color: green;
	border: 1px solid black;
	color: white;
}