.Schedule {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 80px;
}

.Day {
	width: 20%;
}

.Subject {
	display: flex;
	box-sizing: border-box;
	border: 1px inset black;
	position: absolute;
	padding: 0;
}

.Subject span {
	margin: auto;
}

.ColorList {
	position: absolute;
	top: calc(var(--navSize) + 2em);
	right: 80px;
	margin: 0;
}

.ClassList {
	position: absolute;
	top: calc(var(--navSize) + 2em);
	left: 80px;
	margin: 0;
}

.ScheduleChanger {
	border: 2px solid var(--textColor);
	color: var(--textColor);
	background-color: var(--backgroundColor);
	position: relative;
	display: inline;
	padding: 5px;
	cursor: pointer;
	height: inherit;
	font-weight: 600;
	font-size: large;
	outline: none;
}

.ScheduleChanger:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ScheduleChanger:not(:last-child) {
	border-right-width: 0;
}

.ScheduleChanger:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ScheduleChanger:hover {
	filter: var(--hoverFilter);
}

.ScheduleChangerActive {
	background-color: #0fc83f22;
}

/* Tooltip text */
.tooltiptext {
	display: flex;
	visibility: hidden;
	width: 90%;
	background-color: rgb(0, 0, 0, 0.5);
	/* background-color: #0000; */
	color: #fff;
	text-align: center;
	padding: 2px 0;
	border-radius: 6px;
	font-size: 60%;

	/* Position the tooltip text */
	position: absolute;
	z-index: 10;
	bottom: 75%;
	left: 50%;
	margin-left: -45%;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
